.login__password input {
    border: 2px solid rgb(0, 0, 0);
}
.login__password label {
    color:rgb(0, 0, 0);
}

.login__name input {
    border: 2px solid rgb(0, 0, 0);
}
.login__name label {
    color:rgb(0, 0, 0);
}